@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.calculator {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.keyboard,
.result,
.zero {
  height: 30px;
  border: 0.5px solid #cdcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.keyboard {
  width: 50px;
  background-color: #e0e0e0;
}

.result {
  background-color: #858694;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: flex-end;
  color: white;
}

.zero {
  background-color: #e0e0e0;
  grid-column-start: 1;
  grid-column-end: 3;
}

.orange {
  background-color: #f5913e;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 20px;
  font-size: 30px;
  color: #f5913e;
  border: 3px double #f5913e;
  padding: 10px;
  font-family: 'Architects Daughter', cursive;
}

h1 span {
  color: black;
}

.links {
  display: flex;
  margin: 20px;
  list-style: none;
}

.links li {
  margin: 10px;
}

.links li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.links li a:hover {
  color: #f5913e;
}

.links li a.active-style {
  color: #f5913e;
  border-bottom: #f5913e 4px double;
}

.home,
.quote {
  font-size: 18px;
  padding: 10px;
}

.home div {
  margin-bottom: 20px;
}

.author {
  color: #f5913e;
}

.Lettrine {
  font-family: 'Architects Daughter', cursive;
  color: #f5913e;
  font-size: 30px;
}
